.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    position: absolute;
    bottom: -65vh;
    transform: translateY(30%);
    right: 5vw;
    left: 30vw;
}
.welcome{
    background-color: var(--sidebarblue);
    color: var(--backgroundgray);
    border-radius: .2vw;
    padding: 50px 50px 20px 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: -.05vw .05vw;
}
.welcome h2{
    margin-bottom: .5vw;
    text-transform: uppercase;
}
.welcome p,
.widget p{
    line-height: 1.5;
}
.widget{
    background-color: var(--lightblue);
    color: var(--white);
    border-radius: .2vw;
    display: flex;
    align-items: baseline;
    align-items: flex-end;
    position: relative;
    box-shadow: -.05vw .05vw;
    height: 120px;
    min-height: 100px;
    min-width: 100px;
    padding: 2vw;
}
.widget-img{
    position: absolute;
    bottom: .5vw;
    right: .5vw;
    font-size: 5rem;
    color: rgba(255, 255, 255, .5);
}
@media only screen and (max-width: 800px) {
    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        left: 20px;
    }
    .widget{
        padding: 10px;
        border-radius: 10px;
    }
    .welcome h2{
        margin-bottom: 20px;
    }
    .welcome{
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 20px;
        border-radius: 10px;
    }
    .welcome p,
    .widget p{
        line-height: 1.2;
    }
    .widget-img{
        position: absolute;
        bottom: .5vw;
        right: .5vw;
        font-size: 3rem;
    }
    .widget p{
        width: 80%;
    }
}

