.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    position: absolute;
    top: 200px;
    left: 30vw;
    padding: 50px;
}

.welcome{
    background-color: var(--sidebarblue);
    color: var(--backgroundgray);
    border-radius: 5px;
    padding: 50px 100px 50px 50px;
    grid-column-start: 1;
    grid-column-end: 3;
    box-shadow: -5px 5px;
}
.welcome h2{
    margin-bottom: 10px;
    font-size: 2rem;
}
.welcome p{
    font-size: 1.1rem;
    line-height: 25px;
}
.widget{
    background-color: var(--lightblue);
    color: var(--white);
    border-radius: 5px;
    padding: 50px;
    display: flex;
    align-items: baseline;
    align-items: flex-end;
    position: relative;
    box-shadow: -5px 5px var(--offwhite);
}
.widget h1{
    font-size: 4rem;
}
.widget-img{
    position: absolute;
    bottom: 50px;
    right: 50px;
}