.asset-wrapper{
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}
.back{
    position: absolute;
    top: -10px;
    left: 10px;
    font-size: 2rem;
}
.profile-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.asset-prof-title{
    color: var(--blue);
}
.asset-profile-img{
    border-radius: 50%;
}
.profile-info{
    line-height: 1.5;
    color: var(--blackish);
}
.profile-status{
    font-weight: bold;
    color: var(--white);
    padding: 10px 20px;
    background-color: var(--green);
    border-radius: 5px;
}
.asset-prof-card{
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
}
.asset-prof-card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.edit-icon{
    font-size: 2rem;
}
.asset-prof-card-main{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#card-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.asset-prof-card-main .complaint{
    display: flex !important;
    flex-direction: column;
}
.complain-details{
    display: flex;
    gap: 50px;
}
.asset-prof-card-buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.report{
    padding: 10px;
    background-color: var(--backgroundgray);
    color: var(--darkestgray);
    font-weight: bold;
    border-radius: 5px;
}
.clear{
    padding: 10px;
    background-color: var(--white);
    border: 2px solid var(--blackish);
    color: var(--darkestgray);
    font-weight: bold;
    border-radius: 5px;
}
@media only screen and (min-width: 500px){
    .asset-prof-card-buttons{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 801px){
    .asset-wrapper{
        position: absolute;
        right: 50px;
        width: 70%;
        justify-content: baseline;
    }
    .asset-prof-card-main .complaint,
    #card-item{
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .asset-prof-card-main .complaint{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 1000px){
    .asset-wrapper{
        flex-direction: row;
        align-items: baseline;
    }
    .back{
        position: absolute;
        top: 15px;
        left: -30px;
    }
}