.asset-wrapper{
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 50px;
}
.back{
    position: absolute;
    top: -10px;
    font-size: 2rem;
}
.profile-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: centre;
    gap: 10px;
    text-align: center;
}
.asset-prof-title{
    color: var(--blue);
}
.asset-profile-img{
    border-radius: 50%;
    width: 20%;
    max-width: 200px;
}
.profile-info{
    line-height: 1.5;
    color: var(--blackish);
}
.profile-status{
    font-weight: bold;
    color: var(--white);
    padding: 10px 10px ;
    background-color: var(--green);
    border-radius: 5px;
}
.btn-status{
    background-color: var(--gray);
    border-radius: 5px;
    padding: 10px ;
    font-weight: bold;
}
.btn1-status{
    background-color: var(--pinkish);
    border-radius: 5px;
    padding: 10px ;
    font-weight: bold;
}
.asset-prof-card{
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    font-size: smaller;
}
.asset-prof-card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.edit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.edit:hover{
    opacity: .9;
}
.edit-icon{
    font-size: 2rem;
}
.asset-prof-card-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.asset-prof-card-main{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
#card-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card-item{
    display: flex;
    gap: 1rem;
}
.asset-prof-card-main .complaint{
    display: flex !important;
    flex-direction: column;
}
.complain-details{
    display: flex;
    gap: 50px;
}
.asset-prof-card-buttons{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.report{
    padding: 10px;
    background-color: var(--backgroundgray);
    color: var(--darkestgray);
    font-weight: bold;
    border-radius: 5px;
}
.clear{
    padding: 10px;
    background-color: var(--white);
    border: 2px solid var(--blackish);
    color: var(--darkestgray);
    font-weight: bold;
    border-radius: 5px;
}
.assign-btn{
    background-color: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 5px;
    gap: 2rem;
}
.assign-txt{
    color: var(--white);
    font-weight: bold;
}
.assign-icon{
    font-size: 1.5rem;
    color: var(--white);
}
.complain-details{
    display: flex;
    justify-content: space-between;
}
@media only screen and (min-width: 500px){
    .asset-prof-card-buttons{
        flex-direction: row;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 801px){
    .asset-prof-card-wrapper{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .asset-wrapper{
        flex-direction: row;
        position: absolute;
        left: 30vw;
        gap: 10vw;
        justify-content: space-between;
        align-items: flex-start !important;
        top: 15vh;
    }
    .asset-prof-card-main .complaint,
    #card-item{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
    .asset-prof-card-main .complaint{
        flex-direction: row;
        justify-content: space-between;
    }
    .asset-prof-card{
        padding: 30px;
    }
    .asset-prof-card-header{
        margin-bottom: 50px;
    }
    .complain-details{
        display: flex;
    }
    .back{
        position: absolute;
        top: -5px;
        left: -100px;
    }

.assign-icon{
    font-size: 2rem;
}
}
@media only screen and (min-width: 1000px){
    .asset-wrapper{
        align-items: baseline;
    }
}