@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*{
    font-family: 'montserrat';
    margin: 0;
    padding: 0;
    --white: #fff;
    --offwhite: #eaeaea;
    --blue: #1e71b7;
    --lightblue: #1e77ba;
    --sidebarblue: #113a59;
    --gray: #636363;
    --darkestgray: #252525;
    --blackish: #464646;
    --backgroundgray: #f4f4f4;
    --green: #2f986d;
    --messages: #c8ecde;
    --pillgreen: #d9e7e1;
    --headerblue: #addaec;
    --danger: #e83f56;
    --pinkish: #f0bfbf;
    --pillred: #e8d8d8;
    font-size: 14px;
}
ul{
    list-style: none;
}
.wrapper{
    background-color: var(--backgroundgray);
    height: 100vh;
    overflow: scroll;
}
#fixed{
    position: fixed;
    z-index: 999;
}
.bg{
    position: relative;
}
button{
    border: none;
    cursor: pointer;
}
h1{
    font-size: calc(1rem + 3vw);
}
h2{
    font-size: calc(1rem + 1vw);
}
h3{
    font-size: calc(1rem + .3vw);
}
h4{
    font-size: calc(1rem + .1vw);
}
p{
    font-size: calc(1rem + .02vw);
}