.right {
   background-color: #1e71b7;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.form-group{
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: center;
    background-color: var(--white);
    width: 50%;
    padding: 1vw;
    padding-left: 1vw;
    text-align: left;
    border-radius: .5vw;
}
    .form{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
.formEmail, .formPass{
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
    border-radius: 1.5vw;
    width: 100%; 
}
.para-form{
    color: var(--blackish);
}
.form-group label{
    margin-bottom: 10px;
    color: var(--blackish);
}
.btn-default{
    background-color: var(--blue);
    border:2px;
    margin-top: 1vw;
  padding: .5vw;
    align-self: center;
    border-radius: .5vw;
    width: 100%;
   color: var(--white);
   
}
.para-form{
    margin-bottom: 20px;
}
.btn-default,
input{
    padding: .5vw;
    border-radius: .2vw;
}
.btn-default{
    font-weight: bold;
    font-size: large;
}
.forgot-link{
    margin-top: 1vw;
    color: blue;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .right {
         height: 100% !important;
         width: 100vw;
         padding: 10px 0;
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
    }
    form{
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    .form-group{
        width: 70%;
        padding: 20px;
    }
    .para-form{
        margin-bottom: 10px;
    }
    .formEmail, .formPass{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    label{
        margin-bottom: 10px;
    }
}