.right {
   background-color: #1e71b7;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

.form-group{
    display: flex;
    flex-direction: column;
    background-position: center;
    background-color: var(--white);
    height: 300px;
    width: 50%;
    padding: 1vw;
    padding-left: 1vwx;
    text-align: left;
    border-radius: .5vw;
}
    .form{
        display: flex;
        flex-direction: column;
        text-align: left;
    }
 

.formEmail, .formPass{

    display: flex;
    flex-direction: column;
    margin-top: vwpx;
    border-radius: 1.5vw;
    width: 100%;
   
}
.btn-default{
    background-color: var(--blue);
    border:2px solid#1e71b7;
    margin-top: 1vw;
  padding: .5vw;
    align-self: center;
    border-radius: .5vw;
    width: 100%;
   color: var(--white);
   
}
input{
    padding: .5vw;
    border-radius: .5vw;
}
.forgot-link{
    margin-top: 1vw;
    color: blue;
    text-align: center;

}



