.nav-wrapper{
    position: absolute;
    right: 5vw;
    top: 5vh;
}
.nav{
    display: flex;
    align-items: flex-end;
}
.nav li{
    margin: 0 20px ;
}
@media only screen and (min-width: 992px) {
    .nav-img{
        width: 50%;
    }
}