.popup{
    height: 101vh;
    overflow: none;
    position: relative;
    z-index: 9999;
    overflow: none;
    background-color: rgba(0, 0, 0, .5);
    margin-top: -2vh;
}
.popup-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--white);
    border-radius: .1vw;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popupheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gray);
    margin-bottom: 2vw;
    padding: 1vw;
}
.close{
    border: none;
    background-color: var(--white) ;
}
.close:hover{
    color: var(var--backgroundgray);
}
.popup-main{
    padding: 0 1vw 1vw 1vw;
}
input{
    width: 95%;
    padding: .5vw .0 .5vw .5vw; 
    background-color: var(--white);
    border: 1px solid var(--offwhite);
}
select{
    width: 98%;
    padding: .5vw .5vw;
    background-color: var(--white);
    border: 1px solid var(--offwhite);
}
.createuser{
    background-color: var(--green);
    color: var(--white);
    font-weight: bold;
    padding: 1vw .5vw;
    width: 98%;
}
.upload-img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.add-img{
    height: 100%;
    position: relative;
}
.add-img,.email, .password,.username, .accessories, .assign-assets{
    margin-bottom: 1vw ;
}
.add-img,.email h4, .password h4,.username h4, .accessories h4, .assign-assets h4{
    margin-bottom: .5vw ;
    color: var(--gray);
}

@media only screen and (max-width: 800px) { 
    .popup{
        width: 100vw;
        margin-top: 0;
        height: 100vh;
    }
    .popup-content{
        border-radius: 5px;
        width: 80%;
        padding: 20px;
    }
    form{
        margin-top: 20px;
    }
    input,
    select,
    .createuser{
        padding: 5px;
    }
    .email, .password,.username, .accessories, .assign-assets{
        margin-bottom: 10px ;
    }
    .email h4, .password h4,.username h4, .accessories h4, .assign-assets h4{
        margin-bottom: 5px;
    }
    .createuser{
        margin-top: 20px;
    }
    .createuser,
    select{
        width: 99%;
    }
}
