.sidebar{
  width: 16vw;
  background-color: var(--sidebarblue);
  padding: 50px 0px 50px 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  max-height: 100vh;
  overflow-y: hidden;
}
.logo{
  position: absolute;
  top: 20px;
  max-height: 10vh;
  width: 4vw;
}
.logo-img{
width: 100%;
height: 100%;
}
.profile-img{
    width: 20%;
    border-radius: 50%;
    margin-right: 20px;
}
.sidebar-icon{
    margin: 0 20px;
}
.nav-link{
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
  color: var(--white); 
  text-decoration: none;
  font-size: clamp(.6rem, 1vw, 1rem); 
}
.nav-link:hover{
  font-weight: bold;
}
.title{
  font-size: clamp(.4rem, 1vw, .6rem); 
  font-weight: normal !important;
}
.active {
  position: relative;
  padding: 10px;
  background-color: var(--backgroundgray);
  border-radius: 10px 0 0 10px;
  color: var(--blackish);
  font-weight: bold;
}
.active::before {
  content: "";
  position: absolute;
  background-color: var(--sidebarblue);
  bottom: -15px;
  right: 0px;
  height: 15px;
  width: 20px;
  border-top-right-radius: 10px;
  box-shadow: 10px 0px 0 0 var(--backgroundgray);
}
.active::after {
  content: "";
  position: absolute;
  background-color: var(--sidebarblue);
  top: -15px;
  right: 0px;
  height: 15px;
  width: 20px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 0px 0 0 var(--backgroundgray);
}
@media only screen and (min-width: 992px) {
  .sidebar{
    width: 15vw;
    padding: 30px 0px 30px 30px;
  }
  .name h4{
    font-size: .5rem;
  }
}