.userprof-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color: var(--offwhite);
}
.main-userprof{
    display: flex;
    flex-direction: column;
    gap: 5vw;
    position: absolute;
    top: 20vh;
    left: 25vw;
    width: 15vw;
}
.userprof{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    left: 20rem;
    top: 20vh;
    justify-content: space-between;
    
}
.user-img{
    width: 100%;
    top:-4vh;
    color: black;
}
.user-item{
    color: var(--blue);
    padding-right: 30px;  
}
.profile-body{
  display: flex;
  position: fixed;
   flex-direction: column;
   width: 150px;
   align-items: center;
   left: 20rem;
   top:30vh;
   justify-content: center;
   text-align: center;
}
.rounded-circle{
    border-radius: 50%;
    left: 40rem;
}
.text{
    margin-top: 10px;
}
.btn{
    color:var(--white);
    background-color:var(--green) ;
    padding: 5px;
    border-radius:  0.25em;
    margin-top: 10px;
}
.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .30rem;
    right: 15vw;
    top:30vh;
    padding-left: 20px;
    width: 35%;
    text-align: left;
    height: 300px;
    justify-content: space-between;
}
.card2{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: .30rem;
    right: 15vw;
    top:100vh;
    padding-left: 20px;
    width: 35%;
    text-align: left;
    height: 300px;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-right: 20px;
    align-items: flex-start;
}
.btn1{
   margin-top: 10px;
    background-color:grey;
    padding: 5px;
    border-radius:  0.25em;  
}
.btn2{
    margin-top: 10px;
    background-color:rgba(170, 173, 173, 0.925);
    padding: 10px;
    border-radius:  0.25em;
}
.complaints-rows{
       display: flex;
       justify-content: space-between;
   }