.users-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18vh;
  right: 5vw;
  width: 70vw;
}
.users-header{
  display: flex;
  margin-bottom: 50px;
  position: relative;
  top: 18vh;
}
.users-title{
  font-size: clamp(1rem, 2vw, 3rem); 
  color: var(--blackish);
  position: absolute;
  left: 0;
  top: -18vh;
}
.users-buttons{
 display: flex;
 position: absolute;
 right: 0;
 top: -18vh;
}
.addusers{
  display: flex;
  background-color: var(--green);
  padding: 20px;
  color: var(--white);
  align-items: center;
  margin: 0 50px;
  border-radius: 5px;
  box-shadow: -3px 3px var(--offwhite);
  text-decoration: none;
}
.adduser{
  margin-left: 20px;
}
.filterusers{
  display: flex;
  background-color: var(--sidebarblue);
  padding: 10px;
  color: var(--white);
  align-items: center;
  border-radius: 5px;
  box-shadow: -3px 3px var(--offwhite);
}
.filterby{
  margin-right: 20px;
}
.table{
  height: 60vh;
  overflow: scroll;
  margin-top: 20px;
}
table{
  width: 100%;
  box-shadow: -3px 3px var(--offwhite);
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 50px;
}
thead{
  position: sticky;
  top: 0;
}
th{
  background-color: var(--headerblue);
  border: 2px solid var(--offwhite);
  padding: 20px;
  font-weight: normal;
  font-size: clamp(.8rem, 1vw, 2rem); 
}
tr:nth-child(odd){
  background-color: var(--backgroundgray);
}
tr:nth-child(even){
  background-color: var(--white);
}
td{
  border: 2px solid var(--offwhite);
  padding: 20px;
  font-size: clamp(.8rem, 1vw, 2rem); 
}
.paganation{
  position: absolute;
  bottom: -50px;
  right: 50%;
}
.page{
  background-color: var(--blue);
  margin: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  color: var(--offwhite);
  text-decoration: none;
  font-weight: bold;
}
.onpage{
  background-color: var(--headerblue) !important;
}
@media only screen and (min-width: 992px) {
  .users-header{
    margin-bottom: 30px;
    top: 15vh;
  }
  td, th{
    border: 2px solid var(--offwhite);
    padding: 10px;
  }
  .filterusers,
  .addusers{
    padding: 10px;
    margin: 0 30px;
  }
}