.users-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18vh;
  right: 5vw;
  width: 70vw;
}
.users-header{
  display: flex;
  margin-bottom: 5vw;
  position: relative;
  top: 18vh;
}
.users-title{
  color: var(--blackish);
  position: absolute;
  left: 0;
  top: -18vh;
}
.users-buttons{
 display: flex;
 position: absolute;
 right: -3vw;
 top: -18vh;
}
.addusers{
  display: flex;
  background-color: var(--green);
  padding: 1vw;
  color: var(--white);
  align-items: center;
  margin: 0 50px;
  border-radius: .5vw;
  box-shadow: -.2vw .2vw;
  text-decoration: none;
}
.adduser{
  margin-left: 1vw;
}
.filterusers{
  display: flex;
  background-color: var(--sidebarblue);
  padding: .5vw;
  color: var(--white);
  align-items: center;
  border-radius: .5vw;
  box-shadow: -.2vw .2vw;
}
.filterby{
  margin-right: 1vw;
}
.table{
  height: 65vh;
  overflow: auto;
}
table{
  width: 100%;
  box-shadow: -.3vw .3vw;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 50px;
}
thead{
  position: sticky;
  top: -.09vw;
}
th{
  background-color: var(--headerblue);
  border: 1px solid var(--offwhite);
  padding: 1vw;
  font-weight: normal;
}
tr:nth-child(odd){
  background-color: var(--backgroundgray);
}
tr:nth-child(even){
  background-color: var(--white);
}
td{
  border: 2px solid var(--offwhite);
  padding: 1vw;
}
.paganation{
  position: absolute;
  bottom: -50px;
  right: 50%;
}
.page{
  background-color: var(--blue);
  margin: .2vw;
  padding: .5vw .8vw;
  border-radius: 50%;
  color: var(--offwhite);
  text-decoration: none;
  font-weight: bold;
}
.onpage{
  background-color: var(--headerblue) !important;
}
.pill{
  margin: 0 25%;
  border-radius: 2vw;
}
.green{
  background-color: var(--pillgreen);
}
.purple{
  background-color: var(--pillpurple);
}
.red{
  background-color: var(--pillred);
}
.blue{
  background-color: var(--pillblue);
}
@media only screen and (min-width: 992px) {
  .users-header{
    margin-bottom: 3vw;
    top: 15vh;
  }
  td, th{
    border: .2vw solid var(--offwhite);
    padding: .5vw;
  }
  .filterusers,
  .addusers{
    padding: .5vw;
    margin: 0 3vw;
  }
}