.users-wrapper{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18vh;
  right: 5vw;
  width: 70vw;
}
.users-header{
  display: flex;
  margin-bottom: 5vw;
  position: relative;
  top: 18vh;
}
.users-title{
  color: var(--blackish);
  position: absolute;
  left: 0;
  top: -18vh;
}
.users-buttons{
 display: flex;
 position: absolute;
 right: 0vw;
 top: -18vh;
}
.addusers{
  display: flex;
  background-color: var(--green);
  padding: .5vw;
  color: var(--white);
  align-items: center;
  margin: 0 50px;
  border-radius: .5vw;
  box-shadow: -.2vw .2vw;
  text-decoration: none;
}
.adduser{
  margin-left: 1vw;
}
.filterusers{
  display: flex;
  background-color: var(--sidebarblue);
  padding: .5vw;
  color: var(--white);
  align-items: center;
  border-radius: .5vw;
  box-shadow: -.2vw .2vw;
}
.filterby{
  margin-right: 1vw;
}
.table{
  height: 65vh;
  overflow: auto;
}
table{
  width: 100%;
  box-shadow: -.3vw .3vw;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 50px;
}
thead{
  position: sticky;
  top: -.09vw;
}
th{
  background-color: var(--headerblue);
  border: 1px solid var(--offwhite);
  padding: 1vw;
  font-weight: normal;
}
tr:nth-child(odd){
  background-color: var(--backgroundgray);
}
tr:nth-child(even){
  background-color: var(--white);
}
td{
  border: 2px solid var(--offwhite);
  padding: 1vw;
}
.paganation{
  position: absolute;
  bottom: -50px;
  right: 50%;
}
.page{
  background-color: var(--blue);
  margin: .2vw;
  padding: .5vw .8vw;
  border-radius: 50%;
  color: var(--offwhite);
  text-decoration: none;
  font-weight: bold;
}
.onpage{
  background-color: var(--headerblue) !important;
}
.pill{
  margin: 0 30%;
  border-radius: 2vw;
  padding: 5px 0;
}
.green{
  background-color: var(--pillgreen);
}
.purple{
  background-color: var(--pillpurple);
}
.red{
  background-color: var(--pillred);
}
.blue{
  background-color: var(--pillblue);
}
.button-icon{
  font-size: 2rem;
}
@media only screen and (max-width: 800px) {
  .users-wrapper{
    top: 10vh;
    right: 10px;
    left: 10px;
    width: 100vw;
  }
  .users-header{
    justify-content: space-between;
    width: 100vw;
    margin-bottom: 20px;
  }
  .users-title{
    left: 10px;
  }
  .page{
    padding: 5px 10px;
    border-radius: 50%;
  }
  .addusers{
    margin: 0 10px;
  }
  table{
    margin-bottom: 0px;
  }
  .table{
    height: 75vh;
    margin-top: 20px;
    width: 100vw;
    overflow: scroll;
  }
  thead{
    position: sticky;
    top: 0px;
  }
  td,
  th{
    padding: .4vw;
    font-size: .85rem;
  }
  .pill{
    margin: 5px;
    border-radius: 20px;
    padding: 2px 5px;
  }
  .users-buttons{
    margin-right: 30px;
  }
  .adduser,
  .filterby{
    display: none;
  }
  .addusers,
  .filterusers{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--offwhite);
    box-shadow: none;
  }
  .paganation{
    position: absolute;
    bottom: -50px;
    right: 50%;
    transform: translateX(50%);
  }
  .button-icon:nth-child(1){
    color: var(--green);
    font-size: 1.5rem;
  }
  .button-icon:nth-child(2){
    color: var(--sidebarblue);
    font-size: 1.2rem;
  }
  td, 
  th{
    padding: 5px 20px;
  }
}
