
.sidebar{
    width: 14vw;
    background-color: var(--sidebarblue);
    padding: 50px 0px 50px 50px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    color: var(--white); 
}
.logo{
    position: absolute;
    top:50px;
}
.navigation{
    display: block;
}
.profile-img{
    width: 20%;
    height: 20%;
    border-radius: 50%;
    margin-right: 20px;
}
.sidebar-img{
    margin: 20px;
}
ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
    cursor: pointer;
}
ul li:hover{
    font-weight: bold;
}
.name p{
    font-size: .8rem;
}
.active {
    position: relative;
    padding: 10px;
    background-color: var(--backgroundgray);
    border-radius: 25px 0 0 25px;
    color: var(--blackish);
  }
  
  .active::before {
    content: "";
    position: absolute;
    background-color: var(--sidebarblue);
    bottom: -15px;
    right: 0px;
    height: 15px;
    width: 20px;
    border-top-right-radius: 10px;
    box-shadow: 10px 0px 0 0 var(--backgroundgray);
  }
  .active::after {
    content: "";
    position: absolute;
    background-color: var(--sidebarblue);
    top: -15px;
    right: 0px;
    height: 15px;
    width: 20px;
    border-bottom-right-radius: 10px;
    box-shadow: 10px 0px 0 0 var(--backgroundgray);
  }
  .admindash{
      display: flex;
      background-color: var(--backgroundgray);
  }
  .board{
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
  }
  .nav{
      display: flex;
      align-items: flex-end;
      position: absolute;
      right: 50px;
      top: 50px;
  }
  .nav li{
      margin: 0 20px ;
  }
  .nav-img{
      width: 70%;
  } 
  .main{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      position: absolute;
      right: 50px;
      top: 200px;
      left: 200px;
      padding: 50px;
  }

  .welcome{
      background-color: var(--sidebarblue);
      color: var(--backgroundgray);
      border-radius: 5px;
      padding: 50px;
      grid-column-start: 1;
      grid-column-end: 3;
      box-shadow: -5px 5px;
  }
  .welcome h2{
      margin-bottom: 50px;
      font-size: 2rem;
  }
  .welcome p{
      font-size: 1.1rem;
      line-height: 25px;
  }
  .widget{
      background-color: var(--lightblue);
      color: var(--white);
      border-radius: 5px;
      padding: 50px;
      display: flex;
      align-items: baseline;
      align-items: flex-end;
      position: relative;
      box-shadow: -5px 5px var(--offwhite);
  }
  .widget h1{
      font-size: 4rem;
  }
  .widget-img{
      position: absolute;
      bottom: 50px;
      right: 50px;
  }